<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
        <listener class-name="utilities.ExtentManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="C:\Users\neeth\Documents\GitHub\Repo\DataDrivenFramwork">
        <classes>
            <class name="testcases.CustomerLogin">
                <methods>
                    <include name="customerLoginpageverification"/>
                    <include name="customerLoginpageverification"/>
                    <include name="loginAsCustomer"/>
                    <include name="DepositAmount"/>
                    <include name="transaction"/>
                    <include name="TransactionPageveririfcation"/>
                    <include name="withdraw"/>
                </methods>
            </class>
            <class name="testcases.BankManagerLoginTest">
                <methods>
                    <include name="loginAsBankManager"/>
                    <include name="verifylandingpage"/>
                </methods>
            </class>
            <class name="testcases.AddCustomerTest">
                <methods>
                    <include name="AddCustomerTest"/>
                    <include name="TestdataReading"/>
                </methods>
            </class>
            <class name="testcases.OpenAccount"/>
            <class name="testcases.customerDetails"/>

        </classes>
    </test>
</suite>