<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter"/>
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>

    </listeners>
    <test verbose="2" preserve-order="true" name="C:\Users\neeth\Documents\GitHub\Repo\DataDrivenFramwork">
        <classes>
            <class name="testcases.BankManagerLoginTest">
                <methods>
                    <include name="loginAsBankManager"/>
                    <include name="verifylandingpage"/>
                </methods>
            </class>
            <class name="testcases.AddCustomerTest">
            </class>
        </classes>
    </test>
</suite>